<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <servlet-mapping>
    <servlet-name>FrontController</servlet-name>
    <url-pattern>/go</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>adminConfigFile</param-name>
    <param-value>/WEB-INF/configFiles/adminConfig.prop</param-value>
  </context-param>
  <context-param>
    <param-name>emailConfigFile</param-name>
    <param-value>/WEB-INF/configFiles/emailConfig.prop</param-value>
  </context-param>
  <context-param>
    <param-name>persistenceConfigFile</param-name>
    <param-value>/WEB-INF/configFiles/persistenceConfig</param-value>
  </context-param>
  <context-param>
    <param-name>persistencia</param-name>
    <param-value>jdbc</param-value>
  </context-param>
  <context-param>
    <param-name>databaseURL</param-name>
    <param-value>jdbc:mysql://localhost:3306/tienda_online</param-value>
  </context-param>
  <context-param>
    <param-name>databaseDriver</param-name>
    <param-value>com.mysql.jdbc.Driver</param-value>
  </context-param>
  <context-param>
    <param-name>databaseUser</param-name>
    <param-value>root</param-value>
  </context-param>
  <context-param>
    <param-name>databasePassword</param-name>
    <param-value>fiben</param-value>
  </context-param>
  <context-param>
    <param-name>categorias</param-name>
    <param-value>Hombres=man,Mujeres=women,Zapatos=zapatos,Carteras=carteras,Billeteras=billeteras,Correas=correas,Bolsos=bolsos</param-value>
  </context-param>
  <context-param>
    <param-name>frontPage</param-name>
    <param-value>/index.jsp</param-value>
  </context-param>
  <context-param>
    <param-name>imagesMujer</param-name>
    <param-value>images/mujer/</param-value>
  </context-param>
  <context-param>
    <param-name>userLogin</param-name>
    <param-value>/WEB-INF/view/public/userLogin.jsp</param-value>
  </context-param>
  <context-param>
    <param-name>shoppingCart</param-name>
    <param-value>/WEB-INF/view/public/shoppingCart.jsp</param-value>
  </context-param>
  <context-param>
    <param-name>productInfo</param-name>
    <param-value>/WEB-INF/view/public/productInfo.jsp</param-value>
  </context-param>
  <context-param>
    <param-name>productSearch</param-name>
    <param-value>/WEB-INF/view/public/productSearch.jsp</param-value>
  </context-param>
  <context-param>
    <param-name>checkoutLogin</param-name>
    <param-value>/WEB-INF/view/public/checkoutLogin.jsp</param-value>
  </context-param>
  <context-param>
    <param-name>checkoutSuccess</param-name>
    <param-value>/WEB-INF/view/public/checkoutSuccess.jsp</param-value>
  </context-param>
  <context-param>
    <param-name>checkoutError</param-name>
    <param-value>/WEB-INF/view/public/checkoutError.jsp</param-value>
  </context-param>
  <context-param>
    <param-name>productNuevos</param-name>
    <param-value>/WEB-INF/view/public/newProducts.jsp</param-value>
  </context-param>
  <context-param>
    <param-name>productDestacados</param-name>
    <param-value>/WEB-INF/view/public/featuredProducts.jsp</param-value>
  </context-param>
  <context-param>
    <param-name>userUpdate</param-name>
    <param-value>/WEB-INF/view/private/userUpdate.jsp</param-value>
  </context-param>
  <context-param>
    <param-name>userSettings</param-name>
    <param-value>/WEB-INF/view/private/userSettings.jsp</param-value>
  </context-param>
  <context-param>
    <param-name>adminLogin</param-name>
    <param-value>/WEB-INF/view/public/adminLogin.jsp</param-value>
  </context-param>
  <context-param>
    <param-name>adminProductForm</param-name>
    <param-value>/WEB-INF/view/admin/adminProductForm.jsp</param-value>
  </context-param>
  <context-param>
    <param-name>adminStoreProduct</param-name>
    <param-value>/WEB-INF/view/admin/adminStoreProduct.jsp</param-value>
  </context-param>
  <context-param>
    <param-name>adminProductUpdate</param-name>
    <param-value>/WEB-INF/view/admin/adminRecordUpdate.jsp</param-value>
  </context-param>
  <context-param>
    <param-name>adminSalesSearch</param-name>
    <param-value>/WEB-INF/view/admin/adminSalesSearch.jsp</param-value>
  </context-param>
  <context-param>
    <param-name>adminUserSearch</param-name>
    <param-value>/WEB-INF/view/admin/adminUserSearch.jsp</param-value>
  </context-param>
  <context-param>
    <param-name>adminSettings</param-name>
    <param-value>/WEB-INF/view/admin/adminSettings.jsp</param-value>
  </context-param>
  <context-param>
    <param-name>errorForm</param-name>
    <param-value>/WEB-INF/400error.jsp</param-value>
  </context-param>
  <context-param>
    <param-name>exceptionError</param-name>
    <param-value>/WEB-INF/500error.jsp</param-value>
  </context-param>
  <context-param>
    <param-name>frontController</param-name>
    <param-value>FrontController</param-value>
  </context-param>
  <context-param>
    <param-name>userLoginServlet</param-name>
    <param-value>UserLoginServlet</param-value>
  </context-param>
  <context-param>
    <param-name>userLogoutServlet</param-name>
    <param-value>UserLogoutServlet</param-value>
  </context-param>
  <context-param>
    <param-name>userSearchServlet</param-name>
    <param-value>UserSearchServlet</param-value>
  </context-param>
  <context-param>
    <param-name>shoppingCartServlet</param-name>
    <param-value>ShoppingCartServlet</param-value>
  </context-param>
  <context-param>
    <param-name>checkoutCartServlet</param-name>
    <param-value>CheckoutCartServlet</param-value>
  </context-param>
  <context-param>
    <param-name>adminLoginServlet</param-name>
    <param-value>AdminLoginServlet</param-value>
  </context-param>
  <context-param>
    <param-name>adminLogoutServlet</param-name>
    <param-value>AdminLogoutServlet</param-value>
  </context-param>
  <context-param>
    <param-name>productInfoServlet</param-name>
    <param-value>ProductInfoServlet</param-value>
  </context-param>
  <context-param>
    <param-name>productCreateServlet</param-name>
    <param-value>ProductCreateServlet</param-value>
  </context-param>
  <context-param>
    <param-name>productUpdateServlet</param-name>
    <param-value>ProductUpdateServlet</param-value>
  </context-param>
  <context-param>
    <param-name>productSearchServlet</param-name>
    <param-value>ProductSearchServlet</param-value>
  </context-param>
  <context-param>
    <param-name>salesSearchServlet</param-name>
    <param-value>SalesSearchServlet</param-value>
  </context-param>
  <context-param>
    <param-name>mailSaleServlet</param-name>
    <param-value>MailSaleServlet</param-value>
  </context-param>
  <context-param>
    <param-name>mailUserServlet</param-name>
    <param-value>MailUserServlet</param-value>
  </context-param>
  <servlet>
    <servlet-name>FrontController</servlet-name>
    <servlet-class>controller.FrontController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserLoginServlet</servlet-name>
    <servlet-class>controller.publico.UserLoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserLogoutServlet</servlet-name>
    <servlet-class>controller.privado.UserLogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProductInfoServlet</servlet-name>
    <servlet-class>controller.publico.ProductInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProductCreateServlet</servlet-name>
    <servlet-class>controller.admin.ProductCreateServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProductSearchServlet</servlet-name>
    <servlet-class>controller.publico.ProductSearchServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminLoginServlet</servlet-name>
    <servlet-class>controller.publico.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminLogoutServlet</servlet-name>
    <servlet-class>controller.admin.AdminLogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ManageExceptionServlet</servlet-name>
    <servlet-class>controller.ManageExceptionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageExceptionServlet</servlet-name>
    <url-pattern>/Ooops</url-pattern>
  </servlet-mapping>
  <listener>
    <description>ServletContextListener</description>
    <listener-class>controller.StartUpListener</listener-class>
  </listener>
  <listener>
    <description>SessionListener</description>
    <listener-class>controller.SessionListener</listener-class>
  </listener>
  <error-page>
    <error-code>404</error-code>
    <location>/WEB-INF/404error.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/WEB-INF/500error.jsp</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.Exception</exception-type>
    <location>/Ooops</location>
  </error-page>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <display-name>TiendaOnline</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>